body{
    align-items: center;
    background: purple;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.loader{
    display: flex;
    position: relative;
}
.loader span{
    background: white;
    border-radius: 50px;
    box-shadow: 0 8px 8px rgba(7, 0, 6, 0.9);
    display: block;
    margin: 0 5px;
    height: 20px;
    width: 20px;
}
.loader span:not(:last-child){
    animation: animate 1.2s linear infinite;
}
.loader span:last-child{
    animation: jump 1.2s ease-in-out infinite;
}
@keyframes animate{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(30px);
    }
}
@keyframes jump{
    0%{
        transform: translate(0,0)
    }
    10%{
        transform: translate(10px,-10px)
    }
    20%{
        transform: translate(20px,-50px)
    }
    30%{
        transform: translate(30px,-50x)
    }
    70%{
        transform: translate(-150px,-50px)
    }
    80%{
        transform: translate(-140px,10px)
    }
    90%{
        transform: translate(-130px,-10px)
    }
    100%{
        transform: translate(-120px,0)
    }
}